{% extends "base.html" %}

{% block title %}
connexion
{% endblock %}

{% block content %}
{% if  badcredential %}
<div id= 'alerte'>
  Nom d'utilisateur ou mot de passe incorrecte  <br>
  Veuiller vérifier les informations saisies ou <a  href="{% url 'inscription' %}">créer un compte </a> si vous n'en avez pas un. <br> <br>
    </div>
{% endif %}
<div class="row">
    <form class="col s12" method = 'POST' action = "connexion">
        {% csrf_token %}
      <div class="row">
        <div class="input-field col s6">
            <input placeholder="User name" id="username" type="text" class="validate" name = "username">
            <label for="username" >Nom d'utilisateur</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="Password"  id="password" type="password" class="validate" name = "password">
            <label for="password" >Mot de passe</label>
          </div>
      </div>
      <!-- div class="row">
        <div class="input-field col s12">
          <input placeholder="Photo" id="photo" type="file" class="validate" name="photo">
          <label for="email">Photo </label>
        </div>
      </div -->
      <button class="btn waves-effect waves-light" type="submit" name="action">Se connecter
        <i class="material-icons right"> </i>
      </button>
    </form>
  </div>
        
{% endblock %}